*,
html{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(bg.jpg) ;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.nav-p{
    background-color:saddlebrown;
    width: 100%;
    height: 65px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.nav{
    background-color:black;
    border-radius: 10px;
    width: 150px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.nav:hover{
    background-color: rgb(60, 66, 71);
}

a{
    color: white;
    margin-left: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
    margin: 170px 15px 135px 15px;
    display: grid;
    grid-template-columns: 33% 33% 33% 1%;
}

h1{
    font-size: 50px;
}
img{
    margin-top: -50px;
    margin-left: 230px;
    display: grid;
    width: auto;
    height: 450px;
}

.menu{
    background-color: lightgray;
    
}
nav a{
    text-decoration-style: none;
}
footer{
    text-align: center;
}
#tbl{
    font-size: 29px;
    background: rgba(0,0,0,0.0);
    border: 1px solid black;
    padding: 10px;
    width: 76%;
    margin-left: 30px;
    font-family: 'Lucida Console'
}
#tbl button{
    font-size: 29px;
}